.portfolio-section {
    background-color: whitesmoke;
    left: 0px;
    right: 0px;
    height: 750px;
    margin: 125px;
    padding: 50px;
    border-radius: 25px;
    border: rgb(54, 54, 54) solid 3px;
}